*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw ;
}

nav{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.58%;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.726);
    position: relative;
    font-size: 18px;
    transition: all ease 0.4s;
    overflow: hidden;

}

.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.3s;
    /* overflow: hidden; */
}

.nav-part2 h4:hover::after{
    bottom: 0;
    transition: 0.5s;
}

.nav-part2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;

}
.nav-part2 h4:hover a{
    color: white;
}

#center{
    width: 100%;
    height: 65vh;
    /* background-color: gray; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid red;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;

}
#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
    
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0%;
    top:65vh;
   
}

#hero1{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: orangered;
    filter: blur(10px);
    position: absolute;
}
#hero2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: linear-gradient(#fe320a,#fe3f0a);
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#hero3{
    height: 30vw;
    width: 30vw;
    background-color: blueviolet;
    border-radius: 50%;
    background-color: orangered;
    filter: blur(20px);
    position: absolute;
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    linegra

}

@keyframes anime {
    from{
        transform: translate(55%, -3%);
    } 
    to{
        transform: translate(0%, 10%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(55%, -3%);
    } to{
        transform: translate(-20%, 30%);
    }
    
}
#page2 {
    min-height: 100vh;
    width: 100%;
    /* background-color: red; */
}

#gola {
    height: 70px;
    width: 70px;
    background-color: #f35a22;
    border-radius: 50%;
    margin: 1vw 2vw;
    
}

#moving-text {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto;
    scrollbar-width: none;
    
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con {
    display: flex; 
    align-items: center; 
    /* gap: 20px; */
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    margin: 0; 
}

@keyframes move {
    from{
        transform: translateX(0%);
    } to{
        transform: translateX(-100%);
    }
}



