*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    /* background-color: black ; */
    position: relative;
    z-index: 10;
}
#page1{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw ;
}

nav{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.58%;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.726);
    position: relative;
    font-size: 18px;
    transition: all ease 0.4s;
    overflow: hidden;

}

.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.3s;
    /* overflow: hidden; */
}

.nav-part2 h4:hover::after{
    bottom: 0;
    transition: 0.5s;
}

.nav-part2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;

}
.nav-part2 h4:hover a{
    color: white;
}
nav h3{
    display: none;
}
#center{
    width: 100%;
    height: 65vh;
    /* background-color: gray; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid red;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;

}
#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
    
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0%;
    top:65vh;
   
}

#hero1{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: orangered;
    filter: blur(10px);
    position: absolute;
}
#hero2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: linear-gradient(#fe320a,#fe3f0a);
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#hero3{
    height: 30vw;
    width: 30vw;
    background-color: blueviolet;
    border-radius: 50%;
    background-color: orangered;
    filter: blur(20px);
    position: absolute;
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    linegra

}

@keyframes anime {
    from{
        transform: translate(55%, -3%);
    } 
    to{
        transform: translate(0%, 10%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(55%, -3%);
    } to{
        transform: translate(-20%, 30%);
    }
    
}


#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
}

#gola {
    height: 70px;
    width: 70px;
    background-color: #f35a22;
    border-radius: 50%;
    margin: 1vw 2vw;
    
}

#moving-text {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto;
    scrollbar-width: none;
    
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con {
    display: flex; 
    align-items: center; 
    /* gap: 20px; */
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    margin: 0; 
}

@keyframes move {
    from{
        transform: translateX(0%);
    } to{
        transform: translateX(-100%);
    }
}


#page2-bottom{
    /* background-color: #EFEAE3; */
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
 }

 #page2-bottom h1{
    font-size: 3vw;
    width: 50%;
    font-weight: 900;
 }

 #bottom-part2{
    width: 25%;
 }
 #bottom-part2 img{
    width: 100%;
    /* height: 100px; */
    border-radius: 20px;
 }
 #bottom-part2 p{
    font-weight: 50;
    font-size: 1.2vw;
    margin-top: 0.5vw;
 }

 #page2 #gooey{
    height: 30vw;
    width: 30vw;
    position: absolute;
    top: 58%;
    left: 25%;
    border-radius: 50%;
background: linear-gradient(to top right,#ff3107,#ff671b);
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
 }

@keyframes gooey {
    from{
        transform: translate(10%, -10%) skew(0);
    } to{
        transform: translate(-10%, 10%) skew(-12deg);
    }
}   


#page3{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    /* position: relative; */
    padding: 4vw 0 ;

    
}

.elem{
    height: 150px;
    width: 100%;
   
    border-bottom: 1px solid rgba(33, 32, 32, 0.527);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;


}

.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay{
 height: 100%;
 width: 100%;
 background-color: orange;
 position: absolute;
 top: -100%;
 left: 0;
 transition: all ease 0.2s;

}
.elem:hover .overlay{
    top: 0;
    /* transition: 0.5s; */
}

#fixed-img{
    height: 30vw;
    width: 24vw;
    /* background-color: #fe320a; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    top: 25%;
    left: 50%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}


#page5{
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}
#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1 {
    font-size: 23vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: red;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}


@media (max-width:600px) {
    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }
    
}


#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
      opacity: 0;
    } 10%{
      opacity: 1;
    } 90%{
        opacity: 1;
    } 100%{
      opacity: 0;
    } 
}

@media (max-width:600px) {
    #loader h1 {
        font-size: 10vw;
    }
    
}
